[submodule "aws"]
        path = aws
        url = https://github.com/serg239/terraform/aws.git

[submodule "gcloud"]
         path = gcloud
         url = https://github.com/serg239/terraform/gcloud.git

